body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main {
    /* padding: 100px; */
    background-color:hsl(212, 45%, 89%);
    display: flex;
    align-items: center;
    height :100vh;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    /* overflow: hidden; */
}
.box{
    display:grid;
    place-items: center;
    width: 17%;
    height: 55vh;
    margin:auto;
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
}
.bold {
    margin-top:0;
    text-align: center;
    color:hsl(218, 44%, 22%);
    font-family: 'Outfit', sans-serif;
    font-weight:700;
}
.instr {
    margin-top:0;
    text-align: center;
    color: hsl(220, 15%, 55%);
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
}
.para {
    width:75%
}
img{
    border-radius: 8px;
}